<h1>大会予定</h1>

<ul>
  <% @races.each do |race| %>
    <li>
       <p><strong>大会名:</strong> <%= link_to race.name %></p>
       <p><strong>日付:</strong> <%= race.date %></p>
       <p><strong>入金期限:</strong> <%= race.payment_due_date %></p>

       <% race.events.each do |event| %>
         <p><strong>種目:</strong> <%= event.event %></p>
         <p><strong>距離:</strong> <%= event.distance %>km</p>
      <% end %>

      <%= link_to '詳細', race_path(race) %>
      <% if race.race_result.present? %>
      <%= link_to '結果を見る', race_race_result_path(race) %>
       <% else %>
        <%= link_to '結果を登録する', new_race_race_result_path(race), class: 'btn btn-primary mr-3' %>
       <% end %>
    </li>
  <% end %>
</ul>
<%= link_to '戻る', home_index_path %>
