<h1>大会予定</h1>

<ul>
  <% @races.each do |race| %>
    <h1><%= race.name %></h1>
    <h1><%= race.date %></h1>
    <h1><%= race.payment_due_date %></h1>
  <% end %>

  <% @races.event.each do |event| %>
    <%= event.name %>
    <%= event.distance %>
  <% end %>
</ul>

<%= link_to '戻る', home_index_path %>