<h1>大会予定</h1>

<ul>
  <% @races.each do |race| %>
 <p><strong>Name:</strong> <%= race.name %></p>
 <p><strong>Date:</strong> <%= race.date %></p>
 <p><strong>payment_due_date:</strong> <%= race.payment_due_date %></p>

  <% race.events.each do |event| %>
    <p><strong>event:</strong> <%= event.event %></p>
    <p><strong>distance:</strong> <%= event.distance %>km</p>
  <% end %>
<% end %>
  </ul>

<%= link_to '戻る', home_index_path %>
