<div>
  <p>
    <strong>大会名:</strong>
    <%= @race.name %>
  </p>

  <p>
    <strong>日付:</strong>
    <%= @race.date %>
  </p>

  <p>
    <strong>入金期限:</strong>
    <%= @race.payment_due_date %>
  </p>

  <p>
    <strong>種目:</strong>
    <%=  @event.event %>
  </p>

  <p>
    <strong>距離:</strong>
    <%=  @event.distance %>km
  </p>
</div>

<%= link_to '編集', edit_race_path, class: 'btn btn-primary mr-3' %>
<%= link_to '宿泊予定を登録', new_race_stay_plan_path(@race), class: 'btn btn-primary mr-3' %>
<%= link_to '大会結果を登録', new_race_race_result_path(@race), class: 'btn btn-primary mr-3' %>
<%= button_to '削除', race_path(@race), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<%= link_to '戻る', home_index_path %>
