<head>
  <title>RunChronicle</title>
</head>

<header>
  <h1>RunChronicle</h1>
  <%= link_to 'プロフィール', user_path(current_user) %>
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
</header>

<body>
  <h2>RunChronicleはランナーのためのアプリです。</h2>
  <%= link_to '大会予定を登録する', new_race_path %>
  <%= link_to '大会予定を確認する', races_path  %>
  <%= link_to 'みんなの大会予定' , discover_races_path %>
  <%= link_to '持ち物を登録する', new_item_path %>
</body>
