<h1>試合結果の確認</h1>

<div>
  <p>
    <strong>大会名:</strong>
    <%= @race.name %>
  </p>

  <p>
    <strong>日付:</strong>
    <%= @race.date %>
  </p>

  <p>
    <strong>入金期限:</strong>
    <%= @race.payment_due_date %>
  </p>

  <p>
    <strong>種目:</strong>
    <%= @race.event.event %>
  </p>

  <p>
    <strong>距離:</strong>
    <%= @race.event.distance %>km
  </p>

  <p>
    <strong>タイム:</strong>
     <%= @race_result.formatted_time_japanese %>
  </p>

  <p>
    <strong>感想:</strong>
    <%= @race_result.impression %>
  </p>

<div>
  <p>コメント件数：<%= @race_result.race_result_comments.count %></p>
  <% @race_result.race_result_comments.each do |race_result_comment| %>
    <%= race_result_comment.created_at.strftime('%Y/%m/%d') %>
    <%= race_result_comment.content %>
    <p><%= race_result_comment.user.name %></P>
  <% end %>
</div>

<div>
  <%= form_with model: [@race_result, @race_result_comment] do |f| %>
    <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<%= link_to '戻る', @race %>
