<h1>試合結果の確認</h1>

<div>
  <p>
    <strong>大会名:</strong>
    <%= @race.name %>
  </p>

  <p>
    <strong>日付:</strong>
    <%= @race.date %>
  </p>

  <p>
    <strong>入金期限:</strong>
    <%= @race.payment_due_date %>
  </p>

  <p>
    <strong>種目:</strong>
    <%= @race.event.event %>
  </p>

  <p>
    <strong>距離:</strong>
    <%= @race.event.distance %>km
  </p>

  <p>
    <strong>タイム:</strong>
     <%= @race_result.formatted_time_japanese %>
  </p>

  <p>
    <strong>感想:</strong>
    <%= @race_result.impression %>
  </p>
<%= link_to '戻る', @race %>
