<h1> 宿泊予定の登録 </h1>

<%= form_with(model: @stay_plan, url: race_stay_plan_path(params[:race_id]), local: true) do |form| %>
<div>
  <%= form.label '宿泊場所'  %>
  <%= form.text_field :place_name %>
</div>

<div>
  <%= form.label '住所'  %>
  <%= form.text_field :address %>
</div>

<div>
  <%= form.label 'チェックイン'  %>
  <%= form.text_area :check_in_time %>
</div>

<div>
  <%= form.label 'チェックアウト'  %>
  <%= form.text_area :check_out_time %>
</div>

<div>
  <%= form.label '備考'  %>
  <%= form.text_field :note %>
</div>

  <%= form.submit %>
<% end %>

<%= link_to "戻る", :back %>